.container{
    max-width: 90%;
    width: 100%;
    position: relative;
    text-align: left;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    color: black;
}

.card{
    position: relative;
    display: inline-block;
    border: solid;
    max-width: 22%;
    background-color: white;
    border-radius:  15px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 1.5%;
    margin-left: 1.5%
}


.caption{
    font-weight: 800;
    font-size: 20px;
}

.gradyear{
    color: grey;
    font-size: 13px;
    margin-bottom: 10%;
}

.attribute .attribute-icon{
    width: 18px;
    height: 18px;
    background-size: cover;
    vertical-align: middle;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    left: 5%;
}

.attribute{
    margin-bottom: 10%;
    margin-left: 12%;
}

.button-holder{
    float: right;
}

.button{
    text-align: center;
    border: solid;
    padding: 3px 30px;
    border-radius: 20px;
    background-color: #00B1D2;
    color: white;
    cursor: pointer;
}

.button:hover{
    background-color: black;
}