#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.App {
  width: 100vw; /* Equivalent to w-screen */
  height: 100vh; /* Equivalent to h-screen */
  background: linear-gradient(to bottom, #00bcd4, #0c7bb3); 
  overflow-x: auto;
  overflow-y: auto;
}

#intro-container {
  text-align: left;
  color: white;
  font-size: 46px;
  font-weight: normal;
  font-family: 'Georgia', serif;
}

