#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.App {
  width: 100vw; /* Equivalent to w-screen */
  height: 100vh; /* Equivalent to h-screen */
  background: linear-gradient(to bottom, #00bcd4, #0c7bb3);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

#intro-container {
  text-align: left;
  color: white;
  font-size: 46px;
  font-weight: normal;
  font-family: 'Georgia', serif;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
}

.profile-card {
  text-align: center;
}

.user-profile img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.attributes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.attribute {
  background-color: #f0f0f0;
  padding: 8px 16px;
  border-radius: 20px;
  margin: 5px;
}
